.idea/
src/EUVpy/empiricalModels/models/HEUVAC/srcHeuvac/*.o
src/EUVpy/empiricalModels/models/HEUVAC/srcHeuvac/*.exe
src/EUVpy/empiricalModels/models/HEUVAC/srcHeuvac/HEUVAC-scratch.TXT
src/EUVpy/empiricalModels/models/HEUVAC/srcHeuvac/Torr-37-bins.txt
src/EUVpy/empiricalModels/models/HEUVAC/srcHeuvac/XS-User-bins-10A.txt
src/EUVpy/empiricalModels/models/HEUVAC/srcHeuvac/flux-User-bins-10A.txt
src/EUVpy/empiricalModels/irradiances
src/EUVpy.egg-info/PKG-INFO
src/EUVpy/NEUVAC/irradiances/
measurements
src/EUVpy/solarIndices
src/EUVpy/experiments/myIrrFISM1.pkl
src/EUVpy/experiments/myIrrFISM2.pkl
src/EUVpy/experiments/myIrrUncFISM2.pkl
src/EUVpy/experiments/myTimesFISM1.pkl
src/EUVpy/experiments/myTimesFISM2.pkl
src/EUVpy/experiments/Figures/
src/EUVpy/experiments/Fitting/
src/EUVpy/experiments/Uncertainty/
src/EUVpy/experiments/Perturbations/
src/EUVpy/experiments/Results/
src/EUVpy/experiments/corMatEUVAC.pkl
src/EUVpy/experiments/corMatHEUVAC.pkl
src/EUVpy/experiments/residualsArrayEUVAC.pkl
src/EUVpy/experiments/residualsArrayHEUVAC.pkl
src/EUVpy/experiments/sigma_EUVAC.pkl
src/EUVpy/experiments/sigma_HEUVAC.pkl
src/EUVpy/tools/myIrrFISM1.pkl
src/EUVpy/tools/myIrrFISM2.pkl
src/EUVpy/tools/myIrrUncFISM2.pkl
src/EUVpy/tools/myTimesFISM1.pkl
src/EUVpy/tools/myTimesFISM2.pkl
*.egg-info
__pycache__
*.pyc
*/*.egg-info/
