.idea/
empiricalModels/irradiances
measurements
solarIndices
experiments/myIrrFISM1.pkl
experiments/myIrrFISM2.pkl
experiments/myIrrUncFISM2.pkl
experiments/myTimesFISM1.pkl
experiments/myTimesFISM2.pkl
experiments/Figures/
experiments/Fitting/
experiments/Uncertainty/
experiments/Perturbations/
experiments/Results/
experiments/corMatEUVAC.pkl
experiments/corMatHEUVAC.pkl
experiments/residualsArrayEUVAC.pkl
experiments/residualsArrayHEUVAC.pkl
experiments/sigma_EUVAC.pkl
experiments/sigma_HEUVAC.pkl
tools/myIrrFISM1.pkl
tools/myIrrFISM2.pkl
tools/myIrrUncFISM2.pkl
tools/myTimesFISM1.pkl
tools/myTimesFISM2.pkl